/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    text-align: center;
}

#container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden; 
}

#epi-caps, #epi-luvas, #epi-oculos, #epi-botas {
    width: 33.33%; 
    display: inline-block; 
    box-sizing: border-box; 
    padding: 10px; 
    text-align: center;
    margin: 30px;
}

img {
    max-width: 100%; 
    height: auto; 
    border: 1px solid black;
    border-radius: 10px;
} */